body {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: justify;

    font-family: 'Slabo 27px', serif;
    font-family: 'Oswald', sans-serif;
}

.navbar-default {
    background-color:#d3e6ed;
}
.navbar-fixed-bottom{
    background-color: #f0f0f0;
}

.navbar-default .navbar-nav>li>a {
    color: #1f507f;
    font-size: 18px;
    margin-right: 10px;
}

.navbar-header {
    margin-left: 10px;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #3c6a6f;
    background-color: #D7DADB;
}

.navbar-default .navbar-nav>li>a:active {
    color: #3c6a6f;
    background-color: ;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #76c09b;
}

.navbar-default .navbar-header>button {
    color: white;
}

section a:hover {
    color: #48a8dc;
    text-decoration: none;
}

section a:focus {
    color: #2c6b70;
    text-decoration: none;
}

#form {
    padding: 20px;
}

#table {
    margin-top: 30px;
}

thead {
    background-color: #8cb4da;
    color: white;
}

h1 {
    color: #3c6a6f;
    font-size: 30px;
}

h2,
h3 {
    color: #48a8dc;
}

h4 {
    color: #70bf98;
}

section img {
    max-width: 100%;
    height: auto; 
    margin:auto;  
    
}


